*.props
*.nupkg
*.p7s
*.txt
*.targets
*.CopyComplete
*.md
*.TXT
*/[Bb]in/*
*/[Oo]bj/*
packages/
.vs/
*.force
*.xml
*.json

TcpTestProgramms/Wrapper/obj/Debug/Wrapper.pdb
TcpTestProgramms/Wrapper/obj/Debug/Wrapper.dll
TcpTestProgramms/Wrapper/obj/Debug/Wrapper.csproj.CoreCompileInputs.cache
TcpTestProgramms/Wrapper/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TcpTestProgramms/Wrapper/bin/Debug/Wrapper.pdb
TcpTestProgramms/Wrapper/bin/Debug/Wrapper.dll
TcpTestProgramms/TestClient/obj/Debug/TestClient.csproj.CoreCompileInputs.cache
TcpTestProgramms/TestClient/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
TcpTestProgramms/TestClient/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
TcpTestProgramms/TestClient/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
TcpTestProgramms/TestClient/obj/Debug/TcpTestProgramm.pdb
TcpTestProgramms/TCP_Server/obj/Debug/TCP_Server.exe
TcpTestProgramms/TCP_Server/obj/Debug/TCP_Server.csprojAssemblyReference.cache
TcpTestProgramms/TCP_Server/obj/Debug/TCP_Server.csproj.CoreCompileInputs.cache
TcpTestProgramms/TCP-Model/obj/Debug/netstandard2.0/TCP_Model.csprojAssemblyReference.cache
TcpTestProgramms/TCP-Model/obj/Debug/netstandard2.0/TCP_Model.csproj.CoreCompileInputs.cache
TcpTestProgramms/TCP-Model/obj/Debug/netstandard2.0/TCP_Model.assets.cache
TcpTestProgramms/TCP-Model/obj/Debug/netstandard2.0/TCP_Model.AssemblyInfoInputs.cache
TcpTestProgramms/TCP-Model/obj/Debug/netstandard2.0/EandE_ServerModel.pdb
TcpTestProgramms/TCP-Model/obj/Debug/netstandard2.0/EandE_ServerModel.dll
TcpTestProgramms/TCP-Model/obj/Debug/netstandard2.0/EandE_ServerModel.csprojAssemblyReference.cache
TcpTestProgramms/TCP-Model/obj/Debug/netstandard2.0/EandE_ServerModel.csproj.CoreCompileInputs.cache
TcpTestProgramms/TCP-Model/obj/Debug/netstandard2.0/EandE_ServerModel.assets.cache
TcpTestProgramms/TCP-Model/obj/Debug/netstandard2.0/EandE_ServerModel.AssemblyInfoInputs.cache
TcpTestProgramms/TCP-Model/bin/Debug/netstandard2.0/Wrapper.pdb
TcpTestProgramms/ServerTest/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
TcpTestProgramms/ServerTest/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
TcpTestProgramms/ServerTest/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
TcpTestProgramms/ServerTest/obj/Debug/ServerTest.pdb
TcpTestProgramms/ServerTest/obj/Debug/ServerTest.exe
TcpTestProgramms/ServerTest/obj/Debug/ServerTest.csprojAssemblyReference.cache
TcpTestProgramms/ServerTest/obj/Debug/ServerTest.csproj.CoreCompileInputs.cache
TcpTestProgramms/ServerTest/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TcpTestProgramms/ServerTest/bin/Debug/ServerTest.pdb
TcpTestProgramms/ServerTest/bin/Debug/ServerTest.exe
TcpTestProgramms/TestClient/obj/Debug/TcpTestProgramm.exe
TcpTestProgramms/TestClient/obj/Debug/TcpTestProgramm.csprojAssemblyReference.cache
TcpTestProgramms/TestClient/obj/Debug/TcpTestProgramm.csproj.CoreCompileInputs.cache
TcpTestProgramms/TestClient/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TcpTestProgramms/TestClient/bin/Debug/TcpTestProgramm.pdb
TcpTestProgramms/TestClient/bin/Debug/TcpTestProgramm.exe.config
TcpTestProgramms/TestClient/bin/Debug/TcpTestProgramm.exe
TcpTestProgramms/TCP_Server/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
TcpTestProgramms/TCP_Server/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
TcpTestProgramms/TCP_Client/obj/Debug/netcoreapp2.1/TCP_Client.AssemblyInfo.cs
TcpTestProgramms/TCP_Client/bin/Debug/netcoreapp2.1/Wrapper.pdb
TcpTestProgramms/TCP_Client/bin/Debug/netcoreapp2.1/Wrapper.dll
TcpTestProgramms/TCP_Client/bin/Debug/netcoreapp2.1/TCP_Client.pdb
TcpTestProgramms/TCP_Client/bin/Debug/netcoreapp2.1/TCP_Client.dll
TcpTestProgramms/TCP_Client/bin/Debug/netcoreapp2.1/Shared.pdb
TcpTestProgramms/TCP_Client/bin/Debug/netcoreapp2.1/Shared.dll
TcpTestProgramms/TCP-Model/obj/TCP_Model.csproj.nuget.cache
TcpTestProgramms/TCP-Model/obj/EandE_ServerModel.csproj.nuget.cache
TcpTestProgramms/TCP-Model/obj/Debug/netstandard2.0/TCP_Model.pdb
TcpTestProgramms/TCP-Model/bin/Debug/netstandard2.0/Wrapper.dll
TcpTestProgramms/TCP-Model/bin/Debug/netstandard2.0/TCP_Model.pdb
TcpTestProgramms/TCP-Model/bin/Debug/netstandard2.0/TCP_Model.dll
TcpTestProgramms/TCP-Model/bin/Debug/netstandard2.0/EandE_ServerModel.pdb
TcpTestProgramms/TCP-Model/bin/Debug/netstandard2.0/EandE_ServerModel.dll
TcpTestProgramms/Shared/obj/Debug/Shared.pdb
TcpTestProgramms/Shared/obj/Debug/Shared.dll
TcpTestProgramms/Shared/obj/Debug/Shared.csproj.CoreCompileInputs.cache
TcpTestProgramms/Shared/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TcpTestProgramms/Shared/bin/Debug/Shared.pdb
TcpTestProgramms/Shared/bin/Debug/Shared.dll
TcpTestProgramms/TCP_Client/obj/TCP_Client.csproj.nuget.cache
TcpTestProgramms/TCP_Client/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
TcpTestProgramms/TCP_Client/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
TcpTestProgramms/TCP_Client/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
TcpTestProgramms/TCP_Client/obj/Debug/netcoreapp2.1/TCP_Client.csproj.CoreCompileInputs.cache
TcpTestProgramms/TCP_Client/obj/Debug/netcoreapp2.1/TCP_Client.assets.cache
TcpTestProgramms/TCP_Client/obj/Debug/netcoreapp2.1/TCP_Client.AssemblyInfoInputs.cache
TcpTestProgramms/TCP_Server/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TcpTestProgramms/TCP_Server/bin/Debug/Wrapper.pdb
TcpTestProgramms/TCP_Server/bin/Debug/Wrapper.dll
TcpTestProgramms/TCP_Server/bin/Debug/TCP_Server.pdb
TcpTestProgramms/TCP_Server/bin/Debug/TCP_Server.exe.config
TcpTestProgramms/TCP_Server/bin/Debug/TCP_Server.exe
TcpTestProgramms/TCP_Server/bin/Debug/Shared.pdb
TcpTestProgramms/TCP_Server/bin/Debug/Shared.dll
TcpTestProgramms/TCP_Server/bin/Debug/Newtonsoft.Json.dll
TcpTestProgramms/TCP_Client/obj/Debug/netcoreapp2.1/TCP_Client.dll
TcpTestProgramms/TCP_Client/obj/Debug/netcoreapp2.1/TCP_Client.csprojAssemblyReference.cache
TcpTestProgramms/TCP-Model/obj/Debug/netstandard2.0/TCP_Model.dll
TcpTestProgramms/TCP_Server/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
TcpTestProgramms/TCP_Server/obj/Debug/TCP_Server.pdb
TcpTestProgramms/TCP_Client/obj/Debug/netcoreapp2.1/TCP_Client.pdb
