*.props
*.nupkg
*.p7s
*.txt
*.targets
*.CopyComplete
*.md
*.TXT
*/[Bb]in/*
*/[Oo]bj/*
packages/
.vs/

TcpTestProgramms/TestClient/obj/Debug/TestClient.csproj.CoreCompileInputs.cache
TcpTestProgramms/TestClient/obj/Debug/TcpTestProgramm.pdb
TcpTestProgramms/TestClient/obj/Debug/TcpTestProgramm.exe
TcpTestProgramms/TestClient/obj/Debug/TcpTestProgramm.csprojAssemblyReference.cache
TcpTestProgramms/TestClient/bin/Debug/TcpTestProgramm.exe.config
TcpTestProgramms/TestClient/bin/Debug/TcpTestProgramm.exe
TcpTestProgramms/ServerTest/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
TcpTestProgramms/ServerTest/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
TcpTestProgramms/ServerTest/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
TcpTestProgramms/ServerTest/obj/Debug/ServerTest.csproj.CoreCompileInputs.cache
TcpTestProgramms/ServerTest/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TcpTestProgramms/ServerTest/bin/Debug/ServerTest.pdb
TcpTestProgramms/TestClient/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
TcpTestProgramms/TestClient/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
TcpTestProgramms/TestClient/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
TcpTestProgramms/TestClient/obj/Debug/TcpTestProgramm.csproj.CoreCompileInputs.cache
TcpTestProgramms/TestClient/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TcpTestProgramms/TestClient/bin/Debug/TcpTestProgramm.pdb
TcpTestProgramms/ServerTest/obj/Debug/ServerTest.pdb
TcpTestProgramms/ServerTest/obj/Debug/ServerTest.exe
TcpTestProgramms/ServerTest/obj/Debug/ServerTest.csprojAssemblyReference.cache
TcpTestProgramms/ServerTest/bin/Debug/ServerTest.exe.config
TcpTestProgramms/ServerTest/bin/Debug/ServerTest.exe
*.force
*.xml
*.json
TcpTestProgramms/TCP_Server/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
TcpTestProgramms/TCP_Client/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
TcpTestProgramms/TCP_Client/obj/Debug/netcoreapp2.1/TCP_Client.AssemblyInfo.cs
TcpTestProgramms/TCP_Server/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
TcpTestProgramms/TCP_Client/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
TcpTestProgramms/TCP_Server/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
TcpTestProgramms/TCP_Client/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
